<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1066803809139-g6b7huusest6ne54nopffs3d51ikb6ki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1066803809139-g6b7huusest6ne54nopffs3d51ikb6ki</string>
	<key>API_KEY</key>
	<string>AIzaSyA0P5tY-gjZsPoMwHE9wGIlx8Y7tJofmQg</string>
	<key>GCM_SENDER_ID</key>
	<string>1066803809139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialApp</string>
	<key>PROJECT_ID</key>
	<string>socialapp-21b09</string>
	<key>STORAGE_BUCKET</key>
	<string>socialapp-21b09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066803809139:ios:4f8614e425ff6778a95306</string>
</dict>
</plist>